.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #A1A1A1;
}
.header .nav {
  display: flex;
  justify-content: flex-end;
}
.header .nav .links {
  margin-right: 40px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.header .nav .links:last-child {
  margin-right: 0;
}
.header .nav .links:hover:before {
  content: "";
  position: absolute;
  bottom: -40px;
  height: 2px;
  width: calc(100% + 40px);
  background-color: #FFFFFF;
  left: -20px;
}