
.header{
  position: absolute;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #A1A1A1;
  .nav {
    display: flex;
    justify-content: flex-end;
    .links {
      margin-right: 40px;
      @include other;
      color: $colorWhite;
      text-decoration: none;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:hover:before{
        content: "";
        position: absolute;
        bottom: -40px;
        height: 2px;
        width: calc(100% + 40px);
        background-color: $colorWhite;
        left: -20px;
      }
    }
  }
}
