.home{
  padding: 319px 0 335px;
  background: url("../img/home/Rectangle.png") center center/cover rgb(153, 153, 153);
  .title{
    @include other;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .subtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
  }
  .our-projects{
    @include other;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #4985FF;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}